---
layout: default
permalink: /projects/tycs/
---

<h2 style="color:grey;">Learning Computer Science</h2>

<p>My university has limited seats in computer science courses, so I decided to learn as much as I can on my own. I'm
    following the <a href="https://teachyourselfcs.com/">teachyourselfcs.com</a> guide for now. </p>

<br>
<hr><br>

<h4>Posts</h4>

<table>
    {% for category in site.categories %}
    {% if category[0] == "tycs" %}
    {% for post in category[1] %}
    <tr>
        <td style="width: 100px;color:grey;" nowrap>{{ post.date | date: "%b %-d, %Y" }}</td>
        <td>
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    {% endfor %}
</table>
