---
layout: default
permalink: /projects/zap-graphql/
title: Google Summer of Code 2020 at OWASP ZAP
description: "Google Summer of 2020 at OWASP ZAP - Project Blog"
image: "/assets/images/project-zap-graphql.png"
---

<center>
    <img src="/assets/images/GSoC-ZAP-banner.png" width="600px">
    <br>
    <h2 style="color:grey;"><a href="https://summerofcode.withgoogle.com/archive/2020/projects/5781284153982976/" style="color:grey;">Project</a> Blog</h2>
</center>

<br>

<p>In the summer of 2020, I worked under the guidance of my mentors Simon, Rick and Ricardo to add support for GraphQL Security Testing to OWASP ZAP, the world's most widely used web app scanner. Read more about ZAP at <a href="https://www.zaproxy.org/">zaproxy.org</a>.</p>

<p>Follow <a href="https://twitter.com/zaproxy">@zaproxy</a> on Twitter for latest ZAP updates.</p>

<br><hr><br>

<h4>Posts</h4> 

<table>
    {% for category in site.categories %}
    {% if category[0] == "zap-graphql" %}
    {% for post in category[1] %}
    <tr>
        <td style="width: 100px;color:grey;" nowrap>{{ post.date | date: "%b %-d, %Y" }}</td>
        <td>
            {% if post.title == "Introducing the GraphQL Add-on for ZAP" %}
            <a href="https://www.zaproxy.org/blog/2020-08-28-introducing-the-graphql-add-on-for-zap/">
                {% else %}
                <a href="{{ post.url }}">
                    {% endif %}
                    {{ post.title }}
                </a>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    {% endfor %}
</table>
