---
layout: default
contains_math: true
---

<header class="post-header">
<h1 class="post-title p-name" itemprop="name headline">
  <a href="{{ site.posts.first.url }}" style="text-decoration: none;">
    {{ site.posts.first.title }}
  </a>
</h1>
<p class="post-meta">
  {{ site.posts.first.date | date: "%-d %B %Y"}}
  {% if site.posts.first.tags.size > 1 %}| tags:
  {% elsif site.posts.first.tags.size > 0 %}| tag: {% endif %}
  {% for tag in site.posts.first.tags %}
    {{ tag }}{% if forloop.last == false %}, {% endif %}
  {% endfor %}
</p>
</header>

<div class="content e-content">
  {%if site.posts.first.show_full_post_on_homepage %}
    {{ site.posts.first.content }}
  {% else %}
    {{ site.posts.first.excerpt }}
    <a href="{{ site.posts.first.url }}">
    <center><table style="table-layout: auto; width: 80%">
      <tbody>
      <tr><td align="center">
      Continue reading
      </td></tr>
      {% if site.posts.first.image %}
      <tr><td align="center">
      <img src = "{{ site.posts.first.image }}">
      </td></tr>
      {% endif %}
      </tbody>
    </table></center></a>
  {% endif %}
</div>

<br>
<hr>
<br>

<h2>Recent Posts</h2>
<table>
  <tbody>
    {% for post in site.posts limit:11 %}
    {% if forloop.first %} {% continue %} {% endif %}
    <tr>
      <td style="width: 100px; color: grey;" nowrap>{{ post.date | date: "%b​ %-d, %Y" }}</td>
      <td><a href="{{ post.url }}"> {{ post.title }} </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
See the <a href="/archive/">Archive</a> for a full list.
