<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.social{
    font-size:18px;
    color:grey;
}
.social:hover{color:black;}
</style>
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div style="text-align: center;">
        <a href="https://www.facebook.com/akshathkothari"><i class="fa fa-facebook-official social"></i></a>
        <a href="https://instagram.com/akshathkothari"><i class="fa fa-instagram social"></i></a>
        <a href="https://www.youtube.com/akshathkothari"><i class="fa fa-youtube-play social"></i></a>
        <a href="https://twitter.com/akshathkothari"><i class="fa fa-twitter social"></i></a>
        <a href="https://github.com/akshathkothari"><i class="fa fa-github social"></i></a>
        <a href="https://www.linkedin.com/in/akshathkothari/"><i class="fa fa-linkedin social"></i></a>
        <br>
        <br>
        Ⓒ 2019 Akshath Kothari
    </div>

  </div>

</footer>
