<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div style="text-align: center;">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" style="color:grey; text-decoration:none;"><img alt="Creative Commons License" style="filter: invert(0.5); margin-top: -3px;" src="/assets/images/ccheart_black.svg" height="15px"/>&nbsp; 2020 Akshath Kothari</a>
    </div>

  </div>

</footer>
