html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --bg-img-url: url("https://source.unsplash.com/collection/8130287")
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}


h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
h1,h2,h3,h4,h5,h6{
    font-weight:400;
    margin:10px 0;
    letter-spacing: 6px;
}

.padding-navbar {
    padding-top:10px!important;
    padding-bottom:300px!important;
}

.navbar {
    display:inline-block;
    width:auto;
    border:1px solid gray;
}

.button{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    outline:0;
    vertical-align:middle;
    overflow:hidden;
    text-decoration: none;
    color: black;
    background-image: inherit;
    text-align:center;
    cursor:pointer;
}

.button:hover{
    background-color:white;
}

.social{
    font-size:18px;
    color:black;
}
.social:hover{opacity:0.60;}

#background {
    background-image: var(--bg-img-url), url("/assets/images/black.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-origin: center;
    background-position: center;
    background-attachment: scroll;
    min-height: 100vh;
    filter: blur(5px);
    position: absolute;
    height: 100%;
    z-index: -1;
}
  
.frame {
    height: 100%;
    width: 100%;
}

#header {
    padding-top: 10vh;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #efefef;
    text-align: center;
}

#content {
    max-width: 1500px;
    margin-left:auto; 
    margin-right:auto;
    padding:15vh 4vw 10vh;
    text-align:center!important;
    background-image: var(--bg-img-url), url("/assets/images/black.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: scroll;
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    filter:invert(1) contrast(100);
}

@media (max-width:600px) {.hide-small{display:none!important}}