html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --bg-img-url: ""
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 1rem;
    min-height: 100vh;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 15px;
    line-height:1.5;
}

h1{font-size:4vw}
h4{font-size:20px}
h1,h2,h3,h4,h5,h6{
    font-weight:400;
    margin:10px 0;
    letter-spacing: 6px;
}

.padding-32 {
    padding-top:32px!important;
    padding-bottom:300px!important;
}

.navbar {
    display:inline-block;
    width:auto;
    border:1px solid #ccc!important
}

.button{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    outline:0;
    vertical-align:middle;
    overflow:hidden;
    text-decoration: none;
    color: blue;
    background-image: inherit;
    text-align:center;
    cursor:pointer;
}

.button:hover{
    color:#000!important;
    background-color:#ccc!important;
}

.social{
    font-size:18px;
    color:black;
}
.social:hover{opacity:0.60;}

#background {
    background-image: var(--bg-img-url);
    background-size: cover;
    background-repeat: no-repeat; 
    background-origin: center;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    filter: blur(5px);
    position: absolute;
    height: 100%;
    z-index: -1;
}
  
.frame {
    height: 100%;
    width: 100%;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 5rem;
    padding-top: 1rem;
    background-color: #efefef;
    text-align: center;
}

#content {
    max-width: 1500px;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom:16px;
    padding:128px 16px 2.5rem;
    text-align:center!important;
    background-image: var(--bg-img-url);
    background-size: cover;
    background-repeat: no-repeat; 
    background-origin: center;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    filter:invert(1) contrast(100);
}